* {
    margin: 0;
    width: 100%;
}

.columns {
    margin-left: 0;
}

.errormessage{
    font-size: medium;
    color: red;
}

.popularPlacesList{
    background-color: #48c78e;
    border-radius: 15px;
    list-style: none;
}
.popularPlace {
    color: brown;

    
}
.previousTrips{
    background-color: #48c78e;
    border-radius: 15px;
    list-style: none;
}
.previousTrip {
    color: rgb(65, 65, 65);
    
}

#map {
    border-radius: 15px;
    display: flex;
    height: 444px
}
