/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        margin: 15px;
        display: flex;
        height: 500px
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      } 
      #sidebar {
        flex-basis: 15rem;
        flex-grow: 1;
        padding: 1rem;
        max-width: 30rem;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
      }
    #sidebar {
        flex: 0 1 auto;
        padding: 0;
      }
      #sidebar > div {
        padding: 0.5rem;
      }